<%= render 'welcome/navbar' %>
<p>
  <strong>Text:</strong>
  <%= @tweet.text %>
  <%= @tweet.user.name %>
  <%= image_tag(current_user.avatar.url(:thumb)) %>
</p>

<h2>Comments</h2>
<%= render @tweet.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<%= link_to 'Edit', edit_tweet_path %>
<%= link_to 'Back', tweets_path %>